.flexparent{

	display: flex;
}

.flexpage{
	flex-direction: column;
}

.flexmenu{

	flex-direction: row;
	justify-content: center;	
	
	background-color: white;
}

.menu{
	max-width: 1024px;
}

.menuitem{

	width: 250px;
	height: 100px;

	color: #363636;
}

.menuitem:hover{
	 -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
	color: cyan;
}